services:
  jenkins:
    image: jenkins-with-docker
    container_name: jenkins
    restart: always
    user: root
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - infra-net

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: woorilearn
    ports:
      - "3307:3306"
    networks:
      - infra-net

networks:
  infra-net:
    external: true

volumes:
  jenkins_home:

